html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: table;
}

#idunno {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 10rem;	
    font-family: arial,sans-serif;
}
#lol, #copyinfo {
    cursor:copy;
}

#info {
    position: fixed;
    bottom: 10%;
    font-size: .75rem;
    font-family: arial,sans-serif;
    text-align: center;
    width: 100%;
    cursor:initial;
}
